{% extends "opsware/opsware.html" %}
{% block title %}
 - Deploy by TAM
{% endblock %}

{% block head %}
<script language="JavaScript" src="{{MEDIA_URL}}/FusionCharts.js"></script>
{% endblock %}

{% block content %}
<p class="content_title">Deploy by TAM</p>
<table width="98%" border="1" cellspacing="0" cellpadding="3" align="center">
  <tr> 
    <td valign="top" align="center"><div id="chartdiv" align="center"></div>
      <script type="text/javascript">
		   var chart = new FusionCharts("{{MEDIA_URL}}/charts/FCF_Column3D.swf", "ChartId", "600", "350");
		   chart.setDataURL("/opsware/chartbytamxml/");
		   chart.render("chartdiv");
      </script>
    </td>
  </tr>
</table>
{% endblock %}