{section}

{column:width=25%}
	{center}
	{chart:title=SOX L1 Accounts|3D=true|width=250|height=250}
	|| Total || Disabled ||Remaining||
	|| {{ nUserTotal }}| {{ nUserDisabled }} | {{ nUserRemaining }}||
	{chart} 
	{center}
{column}

{column:width=25%}
	{center}
	{chart:type=bar|title=Installs By Month|3D=true|width=250|height=250}
	||Month|Amount||
	{% for month, value in lDateValues %}|{{ month }}|{{value }}|
	{% endfor %}{chart}
	{center}
{column}

{column:width=25%}
	{center}
	{chart:type=bar|title=Installs By OS|3D=true|width=250|height=250}
	||OS|Amount||
	{% for os, value in lOS %}|{{ os }}|{{value}}|
	{% endfor %}{chart}
	{center}
{column}

{column:width=25%}
	{center}
	{chart:type=bar|title=Disables By Month|3D=true|width=250|height=250}
	||Month|Amount||
	{% for month, value in lDU %}|{{ month }}|{{value }}|
	{% endfor %}{chart}
	{center}
{column}

{section}
{align:right}As of {{dToday}}{align}