{% extends "base.html" %}
{% block title %}
 - All Servers In Database
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
  {% if object_list %}
  <p class="content_title">All Servers In Database</p>

<div class="pagination">
    <span class="step-links">
        {% if servers.has_previous %}
            <a href="?page={{ servers.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ servers.number }} of {{ servers.paginator.num_pages }}.
        </span>

        {% if servers.has_next %}
            <a href="?page={{ servers.next_page_number }}">next</a>
        {% endif %}
        
        &nbsp;[Total: {{ server_total }} Servers]
    </span>
</div>
  <br />
  <table width="98%" border="1" cellspacing="2" cellpadding="3" align="center" class="tableall">
    <tr>
      <th>Server</th>
      <th>Ip Addr</th>
      <th>Tam</th>
      <th>Installed</th>
      <th>Hold</th>
      <th>Errors</th>
    </tr>
    {% for obj in object_list %}
    <tr>
      <td align="center"> {{ obj.name }}</td>
      <td align="center"> {{ obj.ipaddr}} </td>
      <td align="center"> {{ obj.tam}} </td>
      <td align="center"> {{ obj.installed|yesno:"Yes,No"}} </td>
      <td align="center"> {{ obj.onhold|yesno:"Yes,No"}} </td>
      <td align="center"> {{ obj.errors|yesno:"Yes,No,N/A"}} </td>
  </tr> {% endfor %}
  </table>

  {% endif %}
  <br />
<div class="pagination">
    <span class="step-links">
        {% if servers.has_previous %}
            <a href="?page={{ servers.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ servers.number }} of {{ servers.paginator.num_pages }}.
        </span>

        {% if servers.has_next %}
            <a href="?page={{ servers.next_page_number }}">next</a>
        {% endif %}
        
        &nbsp;[Total: {{ server_total }} Servers]
    </span>
</div>


  
{% endblock %}



{% comment %}
    {% block content %}
      {% if object_list %}
      <p class="content_title">All Servers for Opsware</p>
      <table width="98%" border="1" cellspacing="2" cellpadding="3" align="center">
        <tr>
          <th>Server</th>
          <th>Ip Addr</th>
          <th>Tam</th>
          <th>Installed</th>
          <th>Hold</th>
          <th>Errors</th>
        </tr>
        {% for obj in object_list %}
        <tr>
          <td> {{ obj.name }}</td>
          <td> {{ obj.ipaddr}} </td>
          <td> {{ obj.tam}} </td>
          <td> {{ obj.installed|yesno:"Yes,No"}} </td>
          <td> {{ obj.onhold|yesno:"Yes,No"}} </td>
        <t  d> {{ obj.errors|yesno:"Yes,No,N/A"}} </td>
      </tr> {% endfor %}
      </table>
      {% endif %}
    {% endblock %}

{% endcomment %}

{% block sidenav %}
  {% include "opsware/opsware_nav.html" %}
{% endblock %}

