{% extends "base.html" %}

{% load charts %}

{% block title %}
 - HP Opsware Deployment
{% endblock %}

{% block head %}
{% ChartHeader %}
{% endblock %}

{% block content %}
<p class="content_title">HP Opsware Deployment</p>

<table width="98%" border="0" cellspacing="1" cellpadding="3" align="center">
  <tr>
    <td valign="top" align="center">
	{% Chart pie3d 700 500 "/opsware/chartdata/?xml=deployedbyos" %}
    </td>
  </tr>
	<tr>
		<td>
			<hr size="5" color="#0094D6" noshade />
		</td>
	</tr>
  <tr>
    <td valign="top" align="center">
      {% Chart mscolumn2dline 700 500 "/opsware/chartdata/?xml=deployedbydate" %}
    </td>
  </tr>
	<tr>
		<td>
			<hr size="5" color="#0094D6" noshade />
		</td>
	</tr>
  <tr>
    <td valign="top" align="center">
			{% Chart mscolumn2d 700 500 "/opsware/chartdata/?xml=deploypending" %}
    </td>
  </tr>

</table>

{% endblock %}

{% block sidenav %}
  {% include "opsware/opsware_nav.html" %}
{% endblock %}
