<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	  <title>NBCU Automation {% block title %}{% endblock %}</title>
	  <meta http-equiv="content-type" content="text/html; charset=iso-8859-1"/>
	  <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/default.css" media="screen"/>
		{% block head %}{% endblock %}
	</head>
	<body>		
		<div class="container">
			<div class="header">
				<div class="title">
					<h1><u>Automation Projects</u></h1>
					<h4>NBC&nbsp;&nbsp;Universal</h4>
				</div>
				<div class="navigation">
					<a href="/">Home</a>
					<a href="/opsware/">HP Opsware</a>
					<a href="/ice/">HP ICE</a>
					<a href="/cacti/">Cacti</a>
					<div class="clearer"><span></span></div>
				</div>
			</div>
			<div class="main">
				<div class="content">
					{% block content %}
					<p class="content_title">Welcome...</p>
					<p>Here are the current projects the Automation team are working on:</p>
					<h1><a href="/opsware/">HP Opsware Deployment</a></h1>
					<p>Automate IT management, provision new infrastructures and manage change and compliance in your data center to dramatically improve cost efficiency and reduce risk.</p>
					<cite>By automating data center management across lifecycles, your IT organization can deliver cost-efficiency, quality and compliance in the most complex environments. HP Data Center Automation Center is a comprehensive suite of applications that focus on business requirements and produce business outcomes.</cite>
					<h1><a href="/ice/">HP ICE 5.3 Re-Design</a></h1>
					<p>Insight Control is a Server management tool that allows you to unleash management capabilities built into every HP ProLiant BL, ML, and DL server.</p>
					<cite>Insight Control integrates specific management functionality into HP System Insight Manager to manage server health, deploy and migrate servers quickly, optimize power consumption and performance, and control servers from anywhere.</cite>
					<h1><a href="">Cacti</a></h1>
					<p>Cacti is a complete network graphing solution designed to harness the power of RRDTool's data storage and graphing functionality.</p>
					<cite>Cacti provides a fast poller, advanced graph templating, multiple data acquisition methods, and user management features out of the box. Along with being able to maintain Graphs, Data Sources, and Round Robin Archives in a database, cacti handles the data gathering. There is also SNMP support for those used to creating traffic graphs with MRTG.</cite>
					<p></p>
					<p></p>
					<p></p>
					<p></p>
					{% endblock %}
					<p><br /></p>
				</div>
				<div class="sidenav">
					{% block sidenav %}

					{% endblock %}
				</div>
				<div class="clearer">&nbsp;</div>
			</div>
			<div class="footer">
				<div class="left">Problems or errors with this website? Contact Christiaan Stoudt or John Matthew.</div>
				<div class="right">Powered by: <a href="http://www.djangoproject.com/" target=_blank">Django</a>, <a href="http://www.mysql.com/" target="_blank">MySQL</a>, <a href="http://www.cherokee-project.com/" target="_blank">Cherokee</a> & <a href="http://www.fusioncharts.com/free/" target="_blank">FusionCharts</a></div>	
				<div class="clearer">&nbsp;</div>
			</div>
		</div>		
	</body>
</html>